<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Assessment">
  <meta name="keywords" content="HTML,CSS,JavaScript,AngularJS 1.6">
  <meta name="author" content="John Raymund Niconi">

    <link rel="stylesheet" href="css/style.css" />
    <title>John Raymund Niconi</title>
    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <link href="css/grid.css" rel="stylesheet">
</head>

<body id="myApp" class="py-4" ng-app="myApp">
    <div class="container" ng-controller="peopleCtrl">
        <div class="row">
            <div class="col-md-4 themed-grid-col p-0 bg-g">
                <div class="form-group p-2 mb-0">
                    <input type="text" ng-model="searchText" ng-bind="name" value="{{ctrl.value}}" class="form-control"
                        placeholder="Search..." />
                </div>
                <div class="form-group p-2 mb-0">
                    <label>Select Contact</label>
                    <select id="searchText" ng-model="searchText" class="form-control form-control-lg">

                        <option ng-repeat="v in myVMdata" ng-selected="v == myVMdata.value">{{ v.name }}</option>
                    </select>



                </div>

            </div>
            <div class="col-md-8 themed-grid-col pt-2 pr-4 pl-4 border-0"
                ng-repeat="item in myVMdata | filter:searchText | limitTo : 1">

                <div class="row">
                    <div class="col-md-5 themed-grid-col text-center border-0">
                        <img class="user-photo" src={{item.img}} />
                        <div class="user-name col-sm-12"><strong>{{item.name}}</strong></div>
                    </div>
                    <div class="col-md-7 themed-grid-col border-0">
                        <div class="row">

                            <div class="well" ng-controller="ctrl">
                                <div star rating-value="item.rating" max="max" on-hover="onHover" on-leave="onLeave"
                                    readonly="{{readonly}}"></div>
                                <div>
                                    <!--   Max: <input type="number" value="{{item.rating}}" name="input" ng-model="max" min="0" max="99" required>
                                              <p>current value: {{item.rating}}</p>
                                             <p>hover on : {{hoverVal?hoverVal:"none"}}</p>
                                             <p>hover on : {{hoverVal?hoverVal:item.rating}}</p>
                                              <p>readonly : <input type="checkbox"
                                                 ng-model="readonly"></p> -->
                                </div>
                            </div>
                            <div id="controlIcons" class="col-md-12 col-sm-6 mb-4 mt-4">
                                <a class="btn-black" data-toggle="modal" data-target="#modalContactForm" href="#"
                                    data-toggle="tooltip" data-placement="top" title="Message"><i
                                        class="fas fa-comments fa-2x"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="pb-3 pt-3">
                        <p>{{item.Description}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 themed-grid-col p-0 bg-w mb-4">
                        <div class="p-75 text-left fs-2"><strong>Likes</strong></div>

                        <table class="table table-striped">
                            <tbody>
                                <tr ng-repeat="items in item.Likes">
                                    <td>{{ items }}</td>
                                    <td ng-if="$index <= items.Likes.length-1">{{items.Likes[$index]}}</td>


                                </tr>
                            </tbody>

                        </table>


                    </div>
                    <div class="col-md-6 themed-grid-col p-0 bg-w mb-4">
                        <div class="p-75 text-left fs-2"><strong>Dislikes</strong></div>
                        <table class="table table-striped">
                            <tbody>
                                <tr ng-repeat="items in item.Dislikes">
                                    <td>{{ items }}</td>
                                    <td ng-if="$index <= items.Dislikes.length-1">{{items.Dislikes[$index]}}</td>


                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <!-- The Modal -->
    <div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <!-- <h4 class="modal-title w-100 font-weight-bold">Write to us</h4> -->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form mb-1">
                        <i class="fas fa-user prefix grey-text"></i>
                        <input type="text" id="form34" class="form-control validate">
                        <label data-error="wrong" data-success="right" for="form34">Your name</label>
                    </div>

                    <div class="md-form mb-1">
                        <i class="fas fa-envelope prefix grey-text"></i>
                        <input type="email" id="form29" class="form-control validate">
                        <label data-error="wrong" data-success="right" for="form29">Your email</label>
                    </div>

                    <div class="md-form mb-1">
                        <i class="fas fa-tag prefix grey-text"></i>
                        <input type="text" id="form32" class="form-control validate">
                        <label data-error="wrong" data-success="right" for="form32">Subject</label>
                    </div>

                    <div class="md-form">
                        <i class="fas fa-pencil prefix grey-text"></i>
                        <textarea type="text" id="form8" class="md-textarea form-control" rows="4"></textarea>
                        <label data-error="wrong" data-success="right" for="form8">Your message</label>
                    </div>

                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn bg-g btn-unique">Send <i class="fas fa-paper-plane-o ml-1"></i></button>
                </div>
            </div>
        </div>
    </div>

    </div>
    <!-- /container -->
    <script data-require="angularjs@1.6.4" data-semver="1.6.4"
        src="https://code.angularjs.org/1.6.4/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    
    <script src="js/script.js"></script>
    
</body>
</html>
<!-- 
Copyright 2019 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->